.related-information, .related-information a {
    opacity: 0.4;
    color: white !important;
    text-decoration: none !important;
}
.sidebar-drawer {
    width: calc(41% - 26em);
}
tbody tr:first-of-type td {
    font-weight: 700;
    padding-bottom: .5em;
}

a.sidebar-brand {
    padding: 0;
    margin-bottom: -18px;
}
a.sidebar-brand {
    padding: 0;
    margin-bottom: -17px;
    width: 18em;
    margin-left: -56px;
    padding-top: 15px;
}
.related-information {
    display: none;
}
input.sidebar-search, .sidebar-search-container::before {
    display: none;
}
form.sidebar-search-container {
    border-top: solid 1px #c5c5c5;
}
@media (prefers-color-scheme: dark)
{
body:not([data-theme="light"]) form.sidebar-search-container {
        border-top: solid 1px #383838;
    }
}
